@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* RESET PADRÃO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
::selection {
  background: #fc1b2e71;
}

div#app {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #3291c7;
  align-items: center;
  justify-content: center;
}

/* LOGIN */

.form-wrapper-login {
  background-color: #121217;
  height: 24.5rem;
  width: 22rem;
  border-radius: 3px;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.3));
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  transition: all .3s linear;
}
.form-title {
  margin-top: 2rem;
  border-left: 20px solid #fc1b2d;
  margin-bottom: 0.4rem;
}
.title {
  color: #ebebeb;
  font-size: 3rem;
  padding-left: 25px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input.input-form {
  width: 90%;
  height: 3rem;
  background-color: #18181e;
  border: none;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 1.25rem;
  padding-left: 20px;
  outline: none;
  margin-top: 1.25rem;
  border: 1px solid transparent;
  transition: all 0.15s linear;
}

input.input-form:focus {
  border-color: #fc1b2d;
}

input.input-form::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8b8b8;
  opacity: 1; /* Firefox */
}

input.input-form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b8b8b8;
}

input.input-form:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b8b8b8;
}

.submit-form {
  height: 4rem;
  width: 90%;
  margin-top: 2.05rem;
  color: white;
  font-weight: bold;
  background-color: #fc1b2d;
  font-size: 2rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.submit-form:hover {
  background-color: #a0010e;
}
span.perdeu-senha {
  position: absolute;
  bottom: 1.56rem;
  left: 1rem;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
}
.opt {
  display: flex;
}
span.criar-conta {
  position: absolute;
  font-size: 0.875rem;
  bottom: 1.56rem;
  right: 1.2rem;
  color: #fc1b2d;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s linear;
}
span.criar-conta:hover {
  color: #a0010e;
}

/* REGISTER */

.form-wrapper-register {
  background-color: #121217;
  height: 29rem;
  width: 40rem;
  border-radius: 3px;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.3));
  transform: rotateY(90deg);
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  transition: all .3s linear;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.first-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .input-form.registro{width: 95%;} */

.submit-form.registro {
  width: 320px;
  position: relative;
}

.faca-login {
  position: absolute;
  bottom: 1.56rem;
  left: 10rem;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
}
.logar {
  cursor: pointer;
  margin-left: 1rem;
  color: #fc1b2d;
}
.logar:hover {
  color: #a0010e;
}

.form-wrapper-register{
  display: none;
}

@keyframes loginTwist {
  from {
    transform: rotateY(0);
    opacity: 1;
  }
  to {
    transform: rotateY(90deg);
    opacity: 0;
    display: none;
  }
}
@keyframes registerTwist {
  from {
    display: none;
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
    display: block;
  }
}
